*{
    margin:0px;
    padding:0px;
    background-color:#222;
}

#header-main{
	text-align:center;
	width:100%;
	height:auto;
	padding-top:100px;
}

#header-main #header-title{
    font-size:3.8rem;
    font-family:fantasy;
    letter-spacing:1.5px;
}

#header-main #header-title a{
	text-decoration:none;
    font-weight:bold;
    color:white;
}

#header-main #header-title a:hover{
    text-decoration:underline;
    color:#ffffff6b;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;    
}

#header-main #header-title a:hover{
    text-decoration:underline;
}

#information {
    padding-top:0px;
}

#information p{
    font-size:1.6rem;
    font-family:Microsoft JhengHei;
	text-decoration:none;
    font-weight:bold;
    color:white;
}

#information a{
    text-decoration:none;
    font-family:Microsoft JhengHei;
    font-size:1.2rem;
    letter-spacing:0.8px;
}

#information a:hover{
    text-decoration:underline;
    color:#ffffff6b;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;  
}

.menu-button{
	width:100%;
	height:auto;
	float:left;
}

.button{
    background-color:white;
    color: #222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:0.9rem;
    margin: 5px 5px;
	font-family:Microsoft JhengHei;
	font-weight:bold;
	border-radius:10%;
	-webkit-transition-duration: 3s; /* Safari */
	transition-duration:3s;
	box-shadow: 0 8px 16px 0 rgba(226, 223, 223, 0.2), 0 6px 20px 0 rgba(226, 223, 223, 0.2);
    position: relative;
    transition: all 1s linear;
}

.button:hover{
	color:#0000006b;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

footer#bottom h4.haha{
	bottom: 0px;
	left:0px;
	-ms-transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%;
	z-index:999997;
	position:fixed;
    color:white;
    font-family:Microsoft JhengHei;
    font-size:1.5vw;
    background-color:#222;
    
}

footer#bottom H4.haha-2{
    bottom: 0px;
	right:0px;
	-ms-transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%;
	z-index:999997;
	position:fixed;
    color:white;
    text-align:center;
    font-family:Microsoft JhengHei;
    font-size:1.5vw;
    background-color:#222;
}