*{
    margin:0px;
    padding:0px;
    background-color:#222;
    color:white;
}

#header-main{
    text-align:center;
}

#header-main #header-title{
    font-size:3.0rem;
    padding-top:100px;
    font-family:fantasy;
    letter-spacing:3px;
}

#header-main #header-title a{
    text-decoration:none;
}

#header-main #header-title a:hover{
    text-decoration:underline;
    color:#ffffff6b;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;    
}

#header-main #header-title a:hover{
    text-decoration:underline;
}

#information {
    padding-top:20px;
}

#information p{
    line-height:55px;
    font-size:1.5rem;
    font-family:Microsoft JhengHei;
    text-decoration:none;
}

#information a{
    text-decoration:none;
    font-family:Microsoft JhengHei;
    font-size:1.2rem;
    letter-spacing:0.8px;
}

#information a:hover{
    text-decoration:underline;
    color:#ffffff6b;
    transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;  
}

footer#bottom{
	bottom: 0px;
	left:0px;
	-ms-transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
	transform-origin:100% 100%;
	z-index:999997;
	position:fixed;
	color:white;
}